.marquee-infinite {
  overflow: hidden;
}

.marquee-container {
  display: flex;
  width: 200%;
  animation: marquee-infinite 50s linear infinite;
}

.marquee-container-reverse {
  display: flex;
  width: 200%;
  animation: marquee-infinite-reverse 60s linear infinite;
}

.marquee-inner-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}

@keyframes marquee-infinite-reverse {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}
