.marquee-infinite {
  overflow: hidden;
}

.marquee-container {
  display: flex;
  width: 200%;
  animation: marquee-infinite 30s linear infinite;
}

.marquee-inner-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
